//
// Main
//

html{
	background: #fff url(../images/bg.png) no-repeat center 0;
}

body{
	background: url(../images/background.jpg) no-repeat center 0;
	font-family: Arial, Tahoma, 'Arial CE', 'Helvetica CE', helvetica, sans-serif;
}
