@import url(http://fonts.googleapis.com/css?family=PT+Serif);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  background-color: #fff; }

body {
  font-size: 10px;
  line-height: 1.25; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

a {
  color: inherit; }

html {
  background: #c1b597 url("./images/bg.png") repeat 50% -1px; }

body {
  background: url("./images/bg-farm.jpg") no-repeat 50% 85px;
  font-family: 'PT Serif', serif; }

.inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 35px;
  position: relative; }

.pageHeader {
  background: url("./images/header-bg.jpg") repeat-x 50% 0;
  box-shadow: 0 1px 1px rgba(19, 29, 30, 0.75); }
  .pageHeader .inner {
    height: 37px; }

.pageLogo {
  float: left;
  margin-top: 3px; }

.pageSocial {
  float: right;
  margin-top: 6px;
  width: 118px;
  text-align: right; }
  .pageSocial a {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("./images/ico-facebook.png") no-repeat 50% 50%; }

.pageMenu {
  text-align: center; }
  .pageMenu li {
    display: inline-block;
    padding: 0 14px;
    position: relative; }
  .pageMenu a {
    display: block;
    color: #d8cfb6;
    font-size: 1.6em;
    text-transform: uppercase;
    height: 37px;
    line-height: 37px; }
    .pageMenu a.active, .pageMenu a:hover {
      text-decoration: underline; }
  .pageMenu .withSubmenu > a:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 6px;
    background: url("./images/menu-arrow.png") no-repeat 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    left: 0;
    margin-left: 7px; }
  .pageMenu .withSubmenu:hover ul {
    display: block; }
  .pageMenu .withSubmenu ul {
    display: none;
    position: absolute;
    top: 37px;
    left: -26px;
    z-index: 50;
    background-color: #4b3d30;
    width: 100%;
    padding: 15px 26px;
    box-sizing: content-box;
    text-align: center; }
    .pageMenu .withSubmenu ul li {
      margin: 0; }
    .pageMenu .withSubmenu ul a {
      font-size: 1.4em;
      color: #b9ab82;
      line-height: 25px;
      height: 25px;
      white-space: nowrap;
      margin: 0; }

.pageMotto .inner {
  height: 346px;
  padding-top: 317px; }
  .pageMotto .inner:after {
    content: '';
    position: absolute;
    top: 57px;
    left: 50%;
    background: url("./images/logo.png") no-repeat 0 0;
    width: 208px;
    height: 213px;
    margin-left: -104px; }
.pageMotto .motto {
  text-align: center;
  color: #2d2316;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px; }

.homepage {
  padding-top: 301px;
  overflow: hidden; }
  .homepage .wrap {
    background: url("./images/home-shadow.png") repeat-x 50% 0; }
  .homepage .inner {
    padding-top: 133px;
    padding-left: 58px;
    padding-right: 58px;
    *zoom: 1; }
    .homepage .inner:before, .homepage .inner:after {
      content: "";
      display: table; }
    .homepage .inner:after {
      clear: both; }
    .homepage .inner:before {
      content: '';
      background: url("./images/home.png") no-repeat 0 0;
      position: absolute;
      top: -270px;
      left: 50%;
      width: 1206px;
      height: 411px;
      margin-left: -603px; }
  .homepage .column {
    width: 33.3%;
    float: left; }
    .homepage .column h2 {
      color: #6e6653;
      font-size: 2em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 5px;
      border-bottom: 1px solid #847c65;
      border-bottom: 1px solid rgba(45, 38, 29, 0.38);
      padding-bottom: 12px; }
    .homepage .column p {
      padding: 17px 17px 0;
      border-top: 1px solid #ccbf99;
      border-top: 1px solid rgba(234, 220, 172, 0.38);
      color: #6e6653;
      font-size: 1.8em;
      line-height: 1.555em; }
    .homepage .column a {
      display: block;
      width: 169px;
      height: 45px;
      color: #6e6653;
      font-size: 1.6em;
      text-transform: uppercase;
      background-color: #eadcac;
      line-height: 43px;
      text-align: center;
      border-radius: 22px;
      border: 1px solid #857652;
      margin: 40px auto 0; }
      .homepage .column a:hover {
        background: #d1c49a; }
  .homepage .columnInner {
    width: 84%;
    max-width: 295px;
    margin: 0 auto; }

.pageFooter {
  position: relative;
  margin-top: 107px;
  background: url("./images/footer-bg.jpg") repeat-x 50% 0; }
  .pageFooter:after {
    content: '';
    position: absolute;
    top: 59px;
    left: 50%;
    background: url("./images/logo-footer.png") no-repeat 0 0;
    width: 74px;
    height: 75px;
    margin-left: -37px; }
  .pageFooter .footerInner {
    display: table;
    height: 160px;
    width: 100%; }
  .pageFooter .line {
    display: table-cell;
    width: 48%; }
    .pageFooter .line:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #87774c;
      position: relative;
      top: -6px;
      left: 0; }
  .pageFooter .footerMenu {
    width: 2%;
    white-space: nowrap; }
    .pageFooter .footerMenu .withSubmenu ul {
      white-space: normal;
      top: auto;
      bottom: 37px; }

.pageArticle {
  max-width: 1026px;
  margin: 0 auto;
  padding-top: 36px; }

.formattedContent {
  color: #68614f; }
  .formattedContent > *:first-child {
    margin-top: 0; }
  .formattedContent > *:last-child {
    margin-bottom: 0; }
  .formattedContent h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    margin-top: 45px;
    letter-spacing: 5px; }
  .formattedContent h2 {
    font-size: 2.4em;
    margin-top: 35px; }
  .formattedContent h3 {
    font-size: 2em;
    margin-top: 30px; }
  .formattedContent p {
    font-size: 1.8em;
    line-height: 1.556;
    margin: 1.556em 0;
    text-indent: 36px; }
  .formattedContent ul {
    font-size: 1.8em;
    line-height: 1.556;
    margin: 1.556em 0 1.556em 22px; }
    .formattedContent ul li {
      margin: 8px 0;
      list-style: disc; }
    .formattedContent ul ul {
      font-size: 1em; }
  .formattedContent figure {
    margin: 35px 0; }
    .formattedContent figure.fullwidth {
      max-width: 100%; }
    .formattedContent figure.transparent img {
      opacity: .75; }
    .formattedContent figure img {
      display: block; }
  .formattedContent a {
    text-decoration: underline; }
    .formattedContent a:hover {
      text-decoration: none; }
